<img src="{avatar_url}">
<h4>{name}</h4>
<h6>{login}</h6>
<hr>
<ul>
    <li>{location}</li>
    <li> <a href="mailto:ryan.mora23@gmail.com" class="email">{email}</a>
    </li>
    <li> <a href="http://www.tumblr.com/blog/ryanmora23" class="blog">{blog}</a>
    </li>
    <li>{joined}</li>
</ul>
<hr>
<div class="sub-container">
    <a class="followers" href="http://github.com/ryanmora23/followers">0</a>
    <a class="followers" href="http://github.com/stars">0</a>
    <a class="followers" href="http://github.com/ryanmora23/following">0</a>
</div>
<div class="sub-container-two">
    <div>Followers</div>
    <div>Stars</div>
    <div>Following</div>
</div>
<hr>
<div><strong>Organizations</strong></div>
<img src="{organizations_url}">
